# Anthropic
ANTHROPIC_API_KEY=
ANTHROPIC_ENDPOINT=
ANTHROPIC_CHAT_DEPLOYMENT_NAME=claude-haiku-4-5

# Azure OpenAI
OPENAI_API_KEY=
OPENAI_AZURE_ENDPOINT=
OPENAI_API_VERSION=2025-03-01-preview
OPENAI_CHAT_DEPLOYMENT_NAME=gpt-5.2
OPENAI_EMBEDDING_DEPLOYMENT_NAME=text-embedding-3-small

# Milvus
MILVUS_DB_COLLECTION_NAME=agent
MILVUS_DB_URI="./milvus-lite.db"

# Tavily
TAVILY_API_KEY=
